.GoalAdder {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-bottom: 25px;
}

.GoalAdder input {
  width: 60%;
}

.GoalAdder button {
  width: 5em;
  padding: 5px 1em;
  border-radius: 5px;
}
