.GoalRow {
  border-style: solid none none;
  border-width: 3px;
  box-shadow: 5px 3px 5px 0px rgba(200, 200, 200, 0.32);
  box-sizing: border-box;
  margin-bottom: 15px;
  padding: 5px 15px;
  display: flex;
  flex-direction: column;
  height: 8em;
  justify-content: space-between;
  width: 100%; }
  .GoalRow.veryLow {
    border-top-color: blue; }
  .GoalRow.onTrack {
    border-top-color: green; }
  .GoalRow.tight {
    border-top-color: yellow; }
  .GoalRow.over {
    border-top-color: red; }
  .GoalRow .description {
    text-align: left;
    font-size: 1.6em;
    font-weight: 700;
    order: 0; }
  .GoalRow .GoalAttribute {
    text-align: left;
    order: 10; }
    .GoalRow .GoalAttribute.locked {
      order: 1; }
  .GoalRow li {
    list-style-type: none; }
    .GoalRow li p {
      align-self: flex-end; }
    .GoalRow li span {
      display: inline; }
