.GoalRow {
  background-color: white;
  border-style: solid none none;
  border-radius: 5px 5px 0 0;
  border-width: 5px;
  box-shadow: 5px 3px 5px 1px hsla(0, 0%, 67%, 0.8);
  box-sizing: border-box;
  margin-bottom: 15px;
  padding: 5px 15px;

  display: flex;
  flex-direction: column;
  height: 8em;
  justify-content: space-between;
  width: 100%;


  
  // @media screen and (min-width: 540px) {
  //   display: grid;
  //   grid-template-columns: repeat(5, 1fr);    
  // }

  // Spending Summary Feedback
  &.veryLow {
    border-top-color: blue;
  }
  &.onTrack {
    border-top-color: green;
  }
  &.tight {
    border-top-color: yellow;
  }
  &.over {
    border-top-color: red;
  }

  .description {
    text-align: left;
    font-size: 1.6em;
    font-weight: 700;
    order: 0;
  }

  .divider {
    order: 11;
  }
  
  .GoalAttribute {
    text-align: left;
    order: 10;

    &.locked {
      align-items: center;
      display: flex;
      justify-content: flex-end;
      order: 100;
      font-weight: lighter;
      font-style: italic;
      color: lighten(black, 25%);

      p {
        align-self: flex-end;
        font-size: 14px;
        margin-left: 0.25em;
      }
    }
  }

  hr {
    width: 100%;
  }
  
}



